<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qf.leslie.day22broadcast">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <!--hhhhhhh-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".PowerStateRecevier">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
                <action android:name="android.intent.action.BATTERY_CHANGED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".CallStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>

        </receiver>


        <receiver android:name=".GameReceiver">
            <intent-filter>
                <action android:name="com.qf.game">
                </action>
            </intent-filter>
        </receiver>

        <receiver android:name=".OrderReceiverFirst">
            <intent-filter android:priority="300">
                <action android:name="com.qf.order"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".OrderReceiverSecond">
            <intent-filter android:priority="200">
                <action android:name="com.qf.order"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".OrderReceiverThird">
            <intent-filter android:priority="100">
                <action android:name="com.qf.order"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>